h1, h2, h3, h4, h5 {
  font-family: $header-font;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 40px;
}

h4 {
    font-size: 18px;
    line-height: 32px;
}

h5 {
    font-size: 14px;
    line-height: 32px;
}

h6 {
    @extend %body-font;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
p {
  @extend %body-font;
  font-size: 16px;
  line-height: 20px;
}
a {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $md-grey;
  }
}
